extends ../../layouts/defaults.pug
include ../../mixins/filter-status.pug 
include ../../mixins/search.pug 
include ../../mixins/pagination.pug
include ../../mixins/box-actions.pug

block content
    h1(class="mb-4") List of Products
        .card.mb-3
            .card-header Search and Filter
            .card-body
                .row
                    .col-6
                        +filter-status(filterStatus)
                        
                    .col-6
                        +search(keyword)
        .card.mb-3
            .card-header Action
            .card-body
                +box-actions(`/${prefixAdmin}/products/change-multi`)
        .card.mb-3
            .card-header Sort
            .card-body
            .row
                .col-5
                div(sort)
                    select(
                    class="form-control"
                    name="sort"
                    sort-select
                    )
                        option(value="position-desc") Descending
                        option(value="position-asc") Ascending
                        option(value="price-desc") Price Descending
                        option(value="price-asc") Price Ascending
                        option(value="title-asc") Title A - Z
                        option(value="title-desc") Title Z - A

                    button(
                    class="btn btn-danger mt-2"
                    sort-clear
                    ) Clear
   
        .card.mb-3
            .card-header Products
            .card-body
                div(class="text-right mb-2")
                    a(
                    href=`/${prefixAdmin}/products/create`
                    class="btn btn-outline-success"
                ) + Add Items

                table.table.table-hover.table-sm
                    thead
                    tr
                        th
                            input(name="checkAll" type="checkbox")
                        th STT
                        th Picture
                        th Description
                        th Price
                        th Position
                        th Status
                        th Action
                    tbody
                    each item, index in products
                        tr 
                        td
                            input(
                                name="checkItem" 
                                type="checkbox"
                                value=item.id
                            )
                        td #{index+1}
                        td
                            img(
                            src=item.thumbnail
                            alt=item.title
                            width="80px"
                            height="auto"
                            )
                        td #{item.title}
                        td #{item.price}$
                        td
                            input(
                            link=`/${prefixAdmin}/products/change-position/${item.id}`
                            type="number"
                            name="position"
                            value=item.position
                            style="width: 90px"
                            min="1"
                            )
                        td
                            if(item.status == "active")
                                button(
                                    link=`/${prefixAdmin}/products/change-status/inactive/${item.id}`
                                    class="badge badge-success"
                                    button-change-status
                                ) Active
                            else
                                button(
                                    link=`/${prefixAdmin}/products/change-status/active/${item.id}`
                                    class="badge badge-danger"
                                    button-change-status
                                ) Inactive
                        td
                            a(
                                class="btn btn-info btn-sm"
                                href=`/${prefixAdmin}/products/detail/${item.id}`
                            ) Detail
                            a(
                                class="btn btn-warning btn-sm"
                                href=`/${prefixAdmin}/products/edit/${item.id}`
                            ) Update
                            button(
                                class="btn btn-danger btn-sm ml-1"
                                button-delete=`/${prefixAdmin}/products/delete/${item.id}`
                            ) Delete

            +pagination(pagination)