extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block content
  .container.my-3
    .row
      .col-12
        +box-head("Cart")

    .row
      .col-12
        table(class="table table-bordered")
          thead
            tr
              th STT
              th Picture
              th Items
              th Price
              th Quantity
              th Total
              th Action
          tbody
            if(cartDetail.products.length > 0)
              each product, index in cartDetail.products
                tr
                  td #{index + 1}
                  td
                    img(
                      src=product.productInfo.thumbnail
                      alt=product.productInfo.title
                      width="80px"
                    )
                  td
                    a(
                      href=`/products/detail/${product.productInfo.slug}`
                    ) #{product.productInfo.title}
                  td #{product.productInfo.priceNew}$
                  td
                    input(
                      type="number"
                      name="quantity"
                      value=product.quantity
                      min="1"
                      item-id=""
                      style="width: 60px"
                    )
                  td #{product.totalPrice}$
                  td
                    a(
                      href=`/cart/delete/${product.productId}`
                      class="btn btn-danger"
                    ) Delete
            else
              p No items in Cart.

        if(cartDetail.products.length > 0)
          h3(class="text-right") Total: #{cartDetail.totalPrice}$

          div(class="text-right mt-3")
            a(href="/checkout" class="btn btn-success") Process