.sider
    .inner-menu
        ul
            li
                a(href=`/${prefixAdmin}/dashboard`) OVERVIEW
            li
                a(href=`/${prefixAdmin}/products`) PRODUCTS LIST
            li
                a(href=`/${prefixAdmin}/products-category`) PRODUCTS CATEGORIES
            li
                a(href=`/${prefixAdmin}/roles`) PERMISSIONS GROUP
            li
                a(href=`/${prefixAdmin}/roles/permissions`) PERMISSIONS
            li
                a(href=`/${prefixAdmin}/accounts`) ADMIN ACCOUNT 