.sider
  .inner-menu
    ul 
      li
        a(href=`/${prefixAdmin}/dashboard`) General 
     
        li
          a(href=`/${prefixAdmin}/products`) Product List
      
          a(href=`/${prefixAdmin}/products-category`) Category
     
        li
          a(href=`/${prefixAdmin}/roles`) Roles
      
        li
          a(href=`/${prefixAdmin}/roles/permissions`) Permissions
      
        li
          a(href=`/${prefixAdmin}/accounts`) Admin Account
        li
          a(href=`/${prefixAdmin}/settings/general`) Setting
        li
          a(href=`/${prefixAdmin}/auth/logout`) Logout