.sider
    .inner-menu
        ul
            li
                a(href=`/${prefixAdmin}/dashboard`) GENERAL
            li
                a(href=`/${prefixAdmin}/products`) PRODUCTS
            li
                a(href=`/${prefixAdmin}/products-category`) CATEGORIES
            li
                a(href=`/${prefixAdmin}/roles`) PERMISSIONS
            li
                a(href=`/${prefixAdmin}/roles/permissions`) Authorize
            li
                 a(href=`/${prefixAdmin}/accounts`) Account Admin